@import "./chessmaps_palette.scss";

$footer-background-color: $color1;
$success: $color3;
$info: $color1;
// $navbar-background-color: $success;
$navbar-text-color: #000000;

/* customizations for Bulma go above this line */
@import "../vendors/bulma/bulma.sass";

.navbar-item img {
  max-height: 2.5rem;
}
